.App {
  position: relative;
  background-color: #dbe0e5;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #373b42;
  padding: 1em 2em;
  align-items: center;
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
}
header .right {
  color: white;
}
header .right .header-user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
header .right .header-user img {
  width: 4.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid white;
}
header .right .header-user .info {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 0.5rem;
}
header .right .header-user .info h1 {
  font-size: 1.5rem;
}
header .left .log-out button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: white;
  padding: 0.5em 2em;
  border-radius: 100rem;
}

main {
  min-height: 100dvh;
}

.user-item {
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: white;
  transition: all 1s ease;
}
.user-item .user-header {
  position: relative;
}
.user-item .user-header img {
  width: 100%;
  aspect-ratio: 16/12;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-item .user-header .name {
  position: absolute;
  bottom: 0;
  background-color: white;
  color: #373b42;
  padding: 0.5em 1em;
  right: 0;
  border-radius: 0.75rem 0 0 0;
  font-weight: bold;
  font-size: 0.9rem;
}
.user-item .user-body {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: right;
  padding: 1.25em 1em;
  gap: 0.5rem;
}
.user-item .user-body .property {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 0.5rem;
  font-size: 0.8rem;
  align-items: center;
}
.user-item .user-body .property svg {
  font-size: 1rem;
}
.user-item .user-body .property p {
  direction: rtl;
}
.user-item .user-body .id span {
  direction: ltr;
}
.user-item .user-body .bio {
  font-size: 0.75rem;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  opacity: 0.8;
}
.user-item .user-buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  border-bottom: 4px solid #373b42;
  padding: 0 1em;
  padding-bottom: 1em;
  gap: 0.5rem;
}
.user-item .user-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font-size: 0.9rem;
  cursor: pointer;
}
.user-item .user-buttons button svg {
  font-size: 1.25rem;
}
.user-item .user-buttons .success {
  background-color: #4caf50;
  color: white;
  padding: 0.6em 1em;
  padding-bottom: 0.4em;
  border-radius: 100rem;
}
.user-item .user-buttons .success svg {
  font-size: 0.9rem;
}

.channel-item {
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: all 1s ease;
  position: relative;
}
.channel-item .item-header {
  display: flex;
  width: 100%;
}
.channel-item .item-header img {
  -o-object-fit: cover;
     object-fit: cover;
}
.channel-item .item-body {
  direction: rtl;
  padding: 2em;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.channel-item .item-body .row {
  font-size: 0.9rem;
}
.channel-item .item-body .name {
  font-size: 1.2rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.channel-item .item-body .link {
  direction: ltr;
  margin-top: 0.25rem;
}
.channel-item .item-body .members-count {
  margin-top: 0.5rem;
}
.channel-item .item-body .bio {
  margin-top: 0.5rem;
  font-size: 0.7rem;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.channel-item .item-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  bottom: 0;
  transition: all 1s ease;
  margin-top: 1rem;
}
.channel-item .item-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font-size: 0.7rem;
  cursor: pointer;
}
.channel-item .item-buttons button svg {
  font-size: 1.2rem;
}
.channel-item .item-buttons .success {
  background-color: #4caf50;
  color: white;
  padding: 0.5em 1.25em;
  padding-bottom: 0.4em;
  border-radius: 100rem;
}
.channel-item .item-buttons .share,
.channel-item .item-buttons .like {
  background-color: white;
  padding: 0.5em;
  border-radius: 50%;
}
.channel-item:hover {
  grid-template-columns: 3fr 1fr;
}

.group-item {
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: all 1s ease;
  position: relative;
}
.group-item .item-header {
  display: flex;
  width: 100%;
}
.group-item .item-header img {
  -o-object-fit: cover;
     object-fit: cover;
}
.group-item .item-body {
  direction: rtl;
  padding: 2em;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.group-item .item-body .row {
  font-size: 0.9rem;
}
.group-item .item-body .name {
  font-size: 1.2rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.group-item .item-body .link {
  direction: ltr;
  margin-top: 0.25rem;
}
.group-item .item-body .members-count {
  margin-top: 0.5rem;
}
.group-item .item-body .bio {
  margin-top: 0.5rem;
  font-size: 0.7rem;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.group-item .item-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  bottom: 0;
  transition: all 1s ease;
  margin-top: 1rem;
}
.group-item .item-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font-size: 0.7rem;
  cursor: pointer;
}
.group-item .item-buttons button svg {
  font-size: 1.2rem;
}
.group-item .item-buttons .success {
  background-color: #4caf50;
  color: white;
  padding: 0.5em 1.25em;
  padding-bottom: 0.4em;
  border-radius: 100rem;
}
.group-item .item-buttons .share,
.group-item .item-buttons .like {
  background-color: white;
  padding: 0.5em;
  border-radius: 50%;
}
.group-item:hover {
  grid-template-columns: 3fr 1fr;
}

.search-box {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  gap: 0.5rem;
  border-radius: 100rem;
}
.search-box input {
  all: unset;
}

.search-categories {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}
.search-categories .item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 7ch;
  padding: 0.75em 1em;
  background-color: white;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  transition: all 1s ease;
  cursor: pointer;
}
.search-categories .item:hover {
  background-color: #ef7b00;
  color: white;
}
.search-categories .true {
  background-color: #ef7b00;
  color: white;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
}
.login-page .enter-number-form {
  display: flex;
  flex-direction: column;
  direction: rtl;
  max-width: 20rem;
}
.login-page .enter-number-form .form-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  margin-top: 1rem;
  align-items: center;
}
.login-page .enter-number-form .form-header p {
  opacity: 0.75;
}
.login-page .enter-number-form .form-header .logo {
  width: 15rem;
}
.login-page .enter-number-form .form-body {
  margin-top: 1rem;
}
.login-page .enter-number-form .form-body fieldset {
  direction: rtl;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.login-page .enter-number-form .form-body fieldset input {
  all: unset;
  color: black;
  padding: 0.75em 1em;
  font-weight: bold;
  width: 20rem;
}
.login-page .enter-number-form .form-body fieldset legend {
  background-color: #ef7b00;
  color: white;
  margin-right: 2rem;
  padding: 0.5em 1em;
  border-radius: 100rem;
}
.login-page .enter-number-form .form-body .checkbox-group label {
  display: flex;
  gap: 1rem;
  padding: 1em;
}
.login-page .enter-number-form .form-buttons {
  display: flex;
  margin-top: 1rem;
}
.login-page .enter-number-form .form-buttons button {
  background-color: #ef7b00;
  color: white;
  width: 100%;
  padding: 1em;
  border-radius: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-page .sms-authentication-form {
  display: flex;
  align-items: center;
  padding: 2em;
  opacity: 0;
  pointer-events: none;
  height: 0;
}
.login-page .sms-authentication-form .left {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 1rem;
}
.login-page .sms-authentication-form .left .form-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.login-page .sms-authentication-form .left .form-header h1 {
  line-height: 1;
}
.login-page .sms-authentication-form .left .form-header p {
  max-width: 20rem;
}
.login-page .sms-authentication-form .left .form-body input {
  all: unset;
  width: 80%;
  border: 2px solid #ef7b00;
  padding: 0.5em;
  border-radius: 0.5rem;
}
.login-page .sms-authentication-form .left .form-buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}
.login-page .sms-authentication-form .left .form-buttons .back {
  background-color: #ef7b00;
}
.login-page .sms-authentication-form .left .form-buttons .login {
  background-color: #2196f3;
}
.login-page .sms-authentication-form .left .form-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  color: white;
  padding: 0.5em 2em;
  border-radius: 100rem;
}
.main-page {
  display: grid;
  grid-template-columns: 1fr 30ch;
}
.main-page aside {
  background-color: #373b42;
  padding: 2em 0;
  color: white;
  top: 2rem;
}
.main-page aside ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  position: sticky;
  top: 9rem;
}
.main-page aside ul .item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1em 2em;
  gap: 0.5rem;
  transition: all 1s ease;
}
.main-page aside ul .item:hover {
  background-color: white;
  color: #373b42;
}
.main-page aside ul .nested-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-page aside ul .nested-item .item-header {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
  padding: 1em 2em;
}
.main-page aside ul .nested-item .item-header:hover {
  background-color: white;
  color: #373b42;
}
.main-page aside ul .nested-item .item-body {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 1s ease;
}
.main-page aside ul .nested-item .item-body .childs {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  overflow: hidden;
}
.main-page aside ul .nested-item .item-body .childs .child {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1em;
  gap: 0.5rem;
  transition: all 1s ease;
  font-size: 0.9rem;
  border-radius: 0 100rem 100rem 0;
}
.main-page aside ul .nested-item .item-body .childs .child:hover {
  background-color: white;
  color: #373b42;
}
.main-page aside ul .nested-item .item-body .childs .child::after {
  content: "-/";
}
.main-page aside ul .nested-item .expand {
  grid-template-rows: 1fr;
  border-bottom: 3px solid white;
  padding-bottom: 0.5em;
}
.main-page aside ul .true {
  background-color: white;
  color: #373b42;
}
.main-page .content {
  padding: 2em;
}
.main-page .complex-search-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding: 2em;
}
.main-page .complex-search-tab .search-form {
  display: flex;
  flex-direction: column;
  align-items: end;
  border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
  width: 100%;
  padding-bottom: 2em;
}
.main-page .complex-search-tab .search-form .search-box {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  gap: 0.5rem;
  border-radius: 100rem;
}
.main-page .complex-search-tab .search-form .search-box input {
  all: unset;
}
.main-page .complex-search-tab .search-form .search-categories {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}
.main-page .complex-search-tab .search-form .search-categories .item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 7ch;
  padding: 0.75em 1em;
  background-color: white;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  transition: all 1s ease;
  cursor: pointer;
}
.main-page .complex-search-tab .search-form .search-categories .item:hover {
  background-color: #ef7b00;
  color: white;
}
.main-page .complex-search-tab .search-form .search-categories .true {
  background-color: #ef7b00;
  color: white;
}
.main-page .complex-search-tab .search-form .search-filter {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2rem;
  padding: 2em;
}
.main-page .complex-search-tab .search-form .search-filter .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100%;
}
.main-page .complex-search-tab .search-form .search-filter .row .col {
  display: flex;
  align-items: center;
  direction: rtl;
  gap: 1rem;
}
.main-page .complex-search-tab .search-form .search-filter .row .col input {
  padding: 0.25em 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.295);
  border-radius: 0.25rem;
}
.main-page .complex-search-tab .search-form .form-submit button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4caf50;
  color: white;
  min-width: 15ch;
  padding: 0.5em 1em;
  border-radius: 100rem;
  gap: 0.5rem;
  cursor: pointer;
}
.main-page .complex-search-tab .search-form .form-submit button svg {
  font-size: 1.2rem;
}
.main-page .complex-search-tab .form-results {
  margin-top: 1rem;
}
.main-page .complex-search-tab .list-container {
  display: grid;
  flex-direction: column;
  gap: 1em;
}
.main-page .complex-search-tab .list-container .swiper-controlls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  padding: 2em;
  padding-bottom: 0;
}
.main-page .complex-search-tab .list-container .swiper-controlls .swiper-bullets {
  width: -moz-max-content;
  width: max-content;
  direction: rtl;
}
.main-page .complex-search-tab .list-container .swiper-controlls .arrow {
  display: flex;
  color: #ef7b00;
  font-size: 2rem;
  transition: all 1s ease;
  scale: 1.2;
  rotate: 180deg;
}
.main-page .complex-search-tab .list-container .swiper-controlls .false {
  opacity: 0.5;
  scale: 0.9;
}
.main-page .complex-search-tab .list-container h1 {
  text-align: end;
  padding: 1em;
}
.main-page .complex-search-tab .list-container .item {
  transition: all 1s ease;
  padding: 1em 0;
  padding-bottom: 0;
  direction: ltr;
}
.main-page .complex-search-tab .hash-tag .item {
  background-color: #1976d2;
  color: white;
  padding: 0;
  text-align: center;
  padding: 0.5em;
  border-radius: 0.25rem;
  cursor: pointer;
}
.main-page .contacts-tab {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.main-page .contacts-tab .item {
  box-shadow: 0.3rem 0.3rem 0.5rem 0rem rgba(0, 0, 0, 0.1);
}
.main-page .contacts-tab .search-box {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  gap: 0.5rem;
  border-radius: 100rem;
}
.main-page .contacts-tab .search-box input {
  all: unset;
}
.main-page .contacts-tab .search-categories {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}
.main-page .contacts-tab .search-categories .item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 7ch;
  padding: 0.75em 1em;
  background-color: white;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  transition: all 1s ease;
  cursor: pointer;
}
.main-page .contacts-tab .search-categories .item:hover {
  background-color: #ef7b00;
  color: white;
}
.main-page .contacts-tab .search-categories .true {
  background-color: #ef7b00;
  color: white;
}
.main-page .contacts-tab .search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}
.main-page .channels-tab,
.main-page .groups-tab {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.main-page .channels-tab .item,
.main-page .groups-tab .item {
  box-shadow: 0.3rem 0.3rem 0.5rem 0rem rgba(0, 0, 0, 0.1);
}
.main-page .channels-tab .search-results,
.main-page .groups-tab .search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  width: 100%;
  gap: 1rem;
  margin-top: 2rem;
}
.main-page .notifications-tab {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.main-page .notifications-tab .search-filter {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.main-page .notifications-tab .search-filter .filter-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  direction: rtl;
  padding: 0.5em;
  gap: 1rem;
}
.main-page .notifications-tab .search-filter .filter-group span {
  width: 10ch;
}
.main-page .notifications-tab .search-filter .filter-group input,
.main-page .notifications-tab .search-filter .filter-group select {
  border: none;
  background-color: white;
  width: auto;
  padding: 0em 1em;
  height: 1.75rem;
  border-radius: 0.25rem;
}
.main-page .notifications-tab .search-filter .filter-group .left {
  display: flex;
  align-items: center;
}
.main-page .notifications-tab .search-filter .filter-group .right {
  display: flex;
  align-items: center;
}
.main-page .notifications-tab .search-filter .filter-submit {
  align-self: flex-end;
  margin-top: 1rem;
}
.main-page .notifications-tab .search-filter .filter-submit button {
  background-color: #4caf50;
  color: white;
  padding: 0.75em 4em;
  border-radius: 0.3rem;
  cursor: pointer;
}
.main-page .notifications-tab .search-results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
  align-items: start;
}
.main-page .notifications-tab .search-results .item {
  border-radius: 1rem;
  overflow: hidden;
  background-color: white;
  font-size: 0.9rem;
  border-bottom: 4px solid #373b42;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5em;
}
.main-page .notifications-tab .search-results .item .item-body {
  padding: 1em;
  direction: rtl;
  display: flex;
  flex-direction: column;
}
.main-page .notifications-tab .search-results .item .item-body .name {
  font-size: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-weight: bold;
  padding-top: 0.1em;
}
.main-page .notifications-tab .search-results .item .item-body .status,
.main-page .notifications-tab .search-results .item .item-body .id,
.main-page .notifications-tab .search-results .item .item-body .type {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.8rem;
  margin-top: 0.75rem;
}
.main-page .notifications-tab .search-results .item .item-body .status span,
.main-page .notifications-tab .search-results .item .item-body .id span,
.main-page .notifications-tab .search-results .item .item-body .type span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.main-page .notifications-tab .search-results .item .item-body .description {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  font-size: 0.7rem;
  line-height: 1.75;
  opacity: 0.75;
}
.main-page .notifications-tab .search-results .item .item-body .description svg {
  font-size: 1rem;
}
.main-page .notifications-tab .search-results .item .item-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}
.main-page .notifications-tab .search-results .item .item-buttons .submit {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.25rem;
  background-color: #4caf50;
  color: white;
  padding: 0.5em 2em;
  font-size: 1rem;
  border-radius: 100rem;
}
.main-page .create-notification-tab .categories {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
}
.main-page .create-notification-tab .categories .item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 7ch;
  padding: 0.75em 1em;
  background-color: white;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  transition: all 1s ease;
  cursor: pointer;
}
.main-page .create-notification-tab .categories .item:hover {
  background-color: #ef7b00;
  color: white;
}
.main-page .create-notification-tab .categories .true {
  background-color: #ef7b00;
  color: white;
}
.main-page .create-notification-tab .results .true {
  background-color: #4caf50;
  color: white;
}
.main-page .create-notification-tab .results .true .item-buttons {
  opacity: 0;
}
.main-page .create-notification-tab .results .contacts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}
.main-page .create-notification-tab .results .groups {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  width: 100%;
  gap: 1rem;
  margin-top: 2rem;
}
.main-page .files-tab {
  padding: 2em;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.main-page .files-tab .search-results {
  width: 100%;
}
.main-page .files-tab .search-results .images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
  margin-top: 2em;
}
.main-page .files-tab .search-results .images .item-image {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
}
.main-page .files-tab .search-results .images .item-image .item-body .sender {
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  background-color: #ffc107;
  padding: 0.5em 1em;
  font-size: 0.8rem;
  border-radius: 100rem;
  align-items: center;
  gap: 0.5rem;
}
.main-page .files-tab .search-results .images .item-image .item-body .sender .info {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.25rem;
}
.main-page .files-tab .search-results .images .item-image .item-body .sender .info .sender-name,
.main-page .files-tab .search-results .images .item-image .item-body .sender .info .sender-id {
  font-size: 1rem;
  font-size: 0.7rem;
}
.main-page .files-tab .search-results .images .item-image .item-body .sender .sender-image img {
  width: 1.5rem;
  aspect-ratio: 1/1;
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.main-page .files-tab .search-results .images .item-image .item-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  background-color: white;
  padding: 1em;
  gap: 1rem;
  transform: translateX(100%);
  transition: all 1s ease;
  color: #1976d2;
  z-index: 3;
}
.main-page .files-tab .search-results .images .item-image .item-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  transition: all 0.5s ease;
  cursor: pointer;
}
.main-page .files-tab .search-results .images .item-image .item-buttons button:hover {
  scale: 1.5;
}
.main-page .files-tab .search-results .images .item-image .item-source {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 0.5rem;
  top: 1.5rem;
  left: 1rem;
  right: 1rem;
  margin: 0 auto;
  width: -moz-max-content;
  width: max-content;
  background-color: white;
  color: #1976d2;
  font-size: 1.1rem;
}
.main-page .files-tab .search-results .images .item-image .item-source svg {
  padding: 0.5em;
}
.main-page .files-tab .search-results .images .item-image .item-source .selected {
  background-color: #ffc107;
}
.main-page .files-tab .search-results .images .item-image .item-source .source-info {
  position: absolute;
  top: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 0fr;
  transition: all 1s ease;
}
.main-page .files-tab .search-results .images .item-image .item-source .source-info .container {
  display: grid;
  grid-template-columns: 1fr 3rem;
  overflow: hidden;
}
.main-page .files-tab .search-results .images .item-image .item-source .source-info .info-left {
  font-size: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  direction: rtl;
  gap: 0.25rem;
  background-color: white;
  padding: 1em;
}
.main-page .files-tab .search-results .images .item-image .item-source .source-info .info-left .channel-name {
  font-weight: bold;
}
.main-page .files-tab .search-results .images .item-image .item-source .source-info .info-left .channel-link {
  direction: ltr;
}
.main-page .files-tab .search-results .images .item-image .item-source .source-info .info-left .channel-descirption {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.main-page .files-tab .search-results .images .item-image .item-source .source-info .info-right {
  display: flex;
}
.main-page .files-tab .search-results .images .item-image .item-source .source-info .info-right img {
  -o-object-fit: cover;
     object-fit: cover;
}
.main-page .files-tab .search-results .images .item-image .item-source .expand-true {
  grid-template-rows: 1fr;
}
.main-page .files-tab .search-results .images .item-image .item-hovers {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  left: 1rem;
  bottom: 1rem;
}
.main-page .files-tab .search-results .images .item-image .item-hovers button {
  display: flex;
  background-color: #ffc107;
  border-radius: 100rem;
  padding: 0.25em;
  font-size: 1.5rem;
  cursor: pointer;
}
.main-page .files-tab .search-results .images .item-image .true-item-buttons {
  transform: translateX(0%);
}
.main-page .files-tab .search-results .videos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
  margin-top: 2em;
  align-items: start;
}
.main-page .files-tab .search-results .videos .item-video {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
}
.main-page .files-tab .search-results .videos .item-video .item-body {
  z-index: 1;
}
.main-page .files-tab .search-results .videos .item-video .item-body .sender {
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  background-color: #ffc107;
  padding: 0.5em 1em;
  font-size: 0.8rem;
  border-radius: 100rem;
  align-items: center;
  gap: 0.5rem;
}
.main-page .files-tab .search-results .videos .item-video .item-body .sender .info {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.25rem;
}
.main-page .files-tab .search-results .videos .item-video .item-body .sender .info .sender-name,
.main-page .files-tab .search-results .videos .item-video .item-body .sender .info .sender-id {
  font-size: 1rem;
  font-size: 0.7rem;
}
.main-page .files-tab .search-results .videos .item-video .item-body .sender .sender-image img {
  width: 1.5rem;
  aspect-ratio: 1/1;
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.main-page .files-tab .search-results .videos .item-video .item-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  background-color: white;
  padding: 1em;
  gap: 1rem;
  transform: translateX(100%);
  transition: all 1s ease;
  color: #1976d2;
  z-index: 3;
}
.main-page .files-tab .search-results .videos .item-video .item-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  transition: all 0.5s ease;
  cursor: pointer;
}
.main-page .files-tab .search-results .videos .item-video .item-buttons button:hover {
  scale: 1.5;
}
.main-page .files-tab .search-results .videos .item-video .item-source {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  gap: 0.5rem;
  top: 1.5rem;
  left: 1rem;
  right: 1rem;
  margin: 0 auto;
  width: -moz-max-content;
  width: max-content;
  background-color: white;
  color: #1976d2;
  font-size: 1.1rem;
  z-index: 1;
}
.main-page .files-tab .search-results .videos .item-video .item-source svg {
  padding: 0.5em;
}
.main-page .files-tab .search-results .videos .item-video .item-source .selected {
  background-color: #ffc107;
}
.main-page .files-tab .search-results .videos .item-video .item-source .source-info {
  position: absolute;
  top: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 0fr;
  transition: all 1s ease;
}
.main-page .files-tab .search-results .videos .item-video .item-source .source-info .container {
  display: grid;
  grid-template-columns: 1fr 3rem;
  overflow: hidden;
}
.main-page .files-tab .search-results .videos .item-video .item-source .source-info .info-left {
  font-size: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  direction: rtl;
  gap: 0.25rem;
  background-color: white;
  padding: 1em;
}
.main-page .files-tab .search-results .videos .item-video .item-source .source-info .info-left .channel-name {
  font-weight: bold;
}
.main-page .files-tab .search-results .videos .item-video .item-source .source-info .info-left .channel-link {
  direction: ltr;
}
.main-page .files-tab .search-results .videos .item-video .item-source .source-info .info-left .channel-descirption {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.main-page .files-tab .search-results .videos .item-video .item-source .source-info .info-right {
  display: flex;
}
.main-page .files-tab .search-results .videos .item-video .item-source .source-info .info-right img {
  -o-object-fit: cover;
     object-fit: cover;
}
.main-page .files-tab .search-results .videos .item-video .item-source .expand-true {
  grid-template-rows: 1fr;
}
.main-page .files-tab .search-results .videos .item-video .item-hovers {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  left: 1rem;
  bottom: 1rem;
  z-index: 1;
}
.main-page .files-tab .search-results .videos .item-video .item-hovers button {
  display: flex;
  background-color: #ffc107;
  border-radius: 100rem;
  padding: 0.25em;
  font-size: 1.5rem;
  cursor: pointer;
}
.main-page .files-tab .search-results .videos .item-video .item-video {
  position: absolute;
  left: 0;
  right: 0;
}
.main-page .files-tab .search-results .videos .item-video .true-item-buttons {
  transform: translateX(0%);
}
.main-page .files-tab .search-results .documents {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 1rem;
  margin-top: 2em;
  align-items: start;
}
.main-page .files-tab .search-results .documents .item-document {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
}
.main-page .files-tab .search-results .documents .item-document .item-header {
  display: flex;
  aspect-ratio: 1/1;
  padding: 3em;
}
.main-page .files-tab .search-results .documents .item-document .item-header svg {
  width: 100%;
  height: 100%;
}
.main-page .files-tab .search-results .documents .item-document .item-body {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}
.main-page .files-tab .search-results .documents .item-document .item-body .sender {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #ffc107;
  padding: 0.5em 1em;
  font-size: 0.8rem;
  border-radius: 100rem;
  align-items: center;
  gap: 0.5rem;
}
.main-page .files-tab .search-results .documents .item-document .item-body .sender .info {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.25rem;
}
.main-page .files-tab .search-results .documents .item-document .item-body .sender .info .sender-name,
.main-page .files-tab .search-results .documents .item-document .item-body .sender .info .sender-id {
  font-size: 1rem;
  font-size: 0.6rem;
}
.main-page .files-tab .search-results .documents .item-document .item-body .sender .sender-image img {
  width: 1.5rem;
  aspect-ratio: 1/1;
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.main-page .files-tab .search-results .documents .item-document .item-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  gap: 1rem;
  transition: all 1s ease;
  color: #1976d2;
  z-index: 3;
}
.main-page .files-tab .search-results .documents .item-document .item-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  transition: all 0.5s ease;
  cursor: pointer;
}
.main-page .files-tab .search-results .documents .item-document .item-buttons button:hover {
  scale: 1.5;
}
.main-page .files-tab .search-results .documents .item-document .item-source {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: -moz-max-content;
  width: max-content;
  background-color: white;
  color: #1976d2;
  font-size: 1.1rem;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.main-page .files-tab .search-results .documents .item-document .item-source svg {
  padding: 0.5em;
}
.main-page .files-tab .search-results .documents .item-document .item-source .selected {
  background-color: #ffc107;
  border-radius: 0 0 1rem 1rem;
}
.main-page .files-tab .search-results .documents .item-document .item-source .source-info {
  position: absolute;
  top: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 0fr;
  transition: all 1s ease;
}
.main-page .files-tab .search-results .documents .item-document .item-source .source-info .container {
  display: grid;
  grid-template-columns: 1fr 3rem;
  overflow: hidden;
}
.main-page .files-tab .search-results .documents .item-document .item-source .source-info .info-left {
  font-size: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  direction: rtl;
  gap: 0.25rem;
  background-color: #1976d2;
  padding: 1em;
  color: white;
}
.main-page .files-tab .search-results .documents .item-document .item-source .source-info .info-left .channel-name {
  font-weight: bold;
}
.main-page .files-tab .search-results .documents .item-document .item-source .source-info .info-left .channel-link {
  direction: ltr;
}
.main-page .files-tab .search-results .documents .item-document .item-source .source-info .info-left .channel-descirption {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.main-page .files-tab .search-results .documents .item-document .item-source .source-info .info-right {
  display: flex;
}
.main-page .files-tab .search-results .documents .item-document .item-source .source-info .info-right img {
  -o-object-fit: cover;
     object-fit: cover;
}
.main-page .files-tab .search-results .documents .item-document .item-source .expand-true {
  grid-template-rows: 1fr;
}
.main-page .files-tab .search-results .documents .item-document .item-file-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}
.main-page .files-tab .search-results .documents .item-document .item-hovers {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5em;
  padding-bottom: 1em;
}
.main-page .files-tab .search-results .documents .item-document .item-hovers button {
  display: flex;
  background-color: #ffc107;
  border-radius: 100rem;
  padding: 0.25em;
  font-size: 1.5rem;
  cursor: pointer;
}
.main-page .files-tab .search-results .documents .item-document .true-item-buttons {
  transform: translateX(0%);
}
.main-page .favorites-tab {
  padding: 2em;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  padding-top: 0;
}
.main-page .favorites-tab .search-results .users {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 1rem;
  margin-top: 2rem;
  width: 100%;
}
.main-page .favorites-tab .search-results .channels, .main-page .favorites-tab .search-results .groups {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  width: 100%;
  gap: 1rem;
  margin-top: 2rem;
}

.fade-out {
  animation: fadeOut 1s ease forwards;
}

.fade-in {
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.9;
    height: -moz-max-content;
    height: max-content;
  }
  to {
    opacity: 1;
    scale: 1;
    pointer-events: all;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    scale: 0.9;
    height: -moz-max-content;
    height: max-content;
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }
}/*# sourceMappingURL=style.css.map */