$color-1: #ef7b00;

$primary: #1976d2;
$secondary: #424242;
$accent: #82b1ff;
$error: #ff5252;
$info: #2196f3;
$success: #4caf50;
$warning: #ffc107;

$primary-color-1: #dbe0e5;
$primary-color-2: #373b42;
$primary-color-3: #373b42;
$primary-color-4: #f39571;
$primary-color-5: #009da4;

.App {
    position: relative;
    background-color: $primary-color-1;
    user-select: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $primary-color-2;
    padding: 1em 2em;
    align-items: center;
    // border-radius: 0 0 3rem 3rem;
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
    .right {
        color: white;
        .user {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            img {
                width: 4.5rem;
                aspect-ratio: 1/1;
                border-radius: 50%;
                object-fit: cover;
                border: 4px solid white;
            }
            .info {
                display: flex;
                align-items: end;
                flex-direction: column;
                gap: 0.5rem;
                h1 {
                    font-size: 1.5rem;
                }
            }
        }
    }
    .mid {
    }
    .left {
        .log-out {
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                background-color: white;
                padding: 0.5em 2em;
                border-radius: 100rem;
            }
        }
    }
}
main {
    min-height: 100dvh;
}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 100vh;

    .enter-number-form {
        display: flex;
        flex-direction: column;
        direction: rtl;
        max-width: 20rem;
        .form-header {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-align: center;
            margin-top: 1rem;
            align-items: center;
            p {
                opacity: 0.75;
            }
            .logo {
                width: 15rem;
            }
        }
        .form-body {
            margin-top: 1rem;

            fieldset {
                direction: rtl;
                border-radius: 0.5rem;
                border: 1px solid rgba(0, 0, 0, 0.2);
                input {
                    all: unset;
                    color: black;
                    padding: 0.75em 1em;
                    font-weight: bold;
                    width: 20rem;
                }
                legend {
                    background-color: $color-1;
                    color: white;
                    margin-right: 2rem;
                    padding: 0.5em 1em;
                    border-radius: 100rem;
                }
            }
            .checkbox-group {
                label {
                    display: flex;
                    gap: 1rem;
                    padding: 1em;
                }
            }
        }
        .form-buttons {
            display: flex;
            margin-top: 1rem;

            button {
                background-color: $color-1;
                color: white;
                width: 100%;
                padding: 1em;
                border-radius: 100rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .sms-authentication-form {
        display: flex;
        align-items: center;
        padding: 2em;
        opacity: 0;
        pointer-events: none;
        height: 0;
        .left {
            display: flex;
            flex-direction: column;
            text-align: right;
            gap: 1rem;
            .form-header {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                h1 {
                    line-height: 1;
                }
                p {
                    max-width: 20rem;
                }
            }
            .form-body {
                input {
                    all: unset;
                    width: 80%;
                    border: 2px solid $color-1;
                    padding: 0.5em;
                    border-radius: 0.5rem;
                }
            }
            .form-buttons {
                display: flex;
                align-items: center;
                justify-content: end;
                gap: 1rem;
                .back {
                    background-color: $color-1;
                }
                .login {
                    background-color: $info;
                }
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.25rem;
                    color: white;
                    padding: 0.5em 2em;
                    border-radius: 100rem;
                }
            }
        }
        .right {
        }
    }
}
.main-page {
    display: grid;
    grid-template-columns: 1fr max-content;
    aside {
        background-color: $primary-color-2;
        padding: 2em 0;
        color: white;
        ul {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;
            li {
                cursor: pointer;
                display: flex;
                width: 20ch;
                align-items: center;
                justify-content: end;
                padding: 1em 2em;
                gap: 0.5rem;
                transition: all 1s ease;
                &:hover {
                    background-color: white;
                    color: $primary-color-2;
                }
            }
            .true {
                background-color: white;
                color: $primary-color-2;
            }
        }
    }
    .content {
        padding: 2em;
    }
    .complex-search-tab {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        padding: 2em;
        .search-form {
            display: flex;
            flex-direction: column;
            align-items: end;
            border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
            width: 100%;
            padding-bottom: 2em;
            .search-box {
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.5em 1em;
                gap: 0.5rem;
                border-radius: 100rem;
                input {
                    all: unset;
                }
            }
            .search-categories {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                margin-top: 2rem;
                .item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 7ch;
                    padding: 0.75em 1em;
                    background-color: white;
                    border-radius: 0.25rem;
                    font-size: 0.9rem;
                    transition: all 1s ease;
                    cursor: pointer;
                    &:hover {
                        background-color: $color-1;
                        color: white;
                    }
                }
                .true {
                    background-color: $color-1;
                    color: white;
                }
            }
            .search-filter {
                display: flex;
                flex-direction: column;
                align-items: end;
                gap: 2rem;
                padding: 2em;
                .row {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 2rem;
                    width: 100%;
                    .col {
                        display: flex;
                        align-items: center;
                        direction: rtl;
                        gap: 1rem;
                        input {
                            padding: 0.25em 0.5em;
                            border: 1px solid rgba(0, 0, 0, 0.295);
                            border-radius: 0.25rem;
                        }
                    }
                }
            }
            .form-submit {
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $success;
                    color: white;
                    min-width: 15ch;
                    padding: 0.5em 1em;
                    border-radius: 100rem;
                    gap: 0.5rem;
                    cursor: pointer;
                    svg {
                        font-size: 1.2rem;
                    }
                }
            }
        }
        .form-results {
            margin-top: 1rem;
        }
        .list-container {
            display: grid;
            flex-direction: column;
            gap: 1em;
            .swiper-controlls {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                gap: 0.5rem;
                padding: 2em;
                padding-bottom: 0;
                .swiper-bullets {
                    width: max-content;
                    direction: rtl;
                }
                .arrow {
                    display: flex;
                    color: $color-1;
                    font-size: 2rem;
                    transition: all 1s ease;
                    scale: 1.2;
                    rotate: 180deg;
                }

                .false {
                    opacity: 0.5;
                    scale: 0.9;
                }
            }
            h1 {
                text-align: end;
                padding: 1em;
            }
            .item {
                transition: all 1s ease;
                padding: 1em 0;
                padding-bottom: 0;
                direction: ltr;
            }
        }
        .contacts {
            .item {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                gap: 1rem;
                transition: all 1s ease;
                .item-header {
                    img {
                        width: 5rem;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                        border-radius: 100rem;
                        border: 3px dashed $error;
                        padding: 0.25em;
                    }
                }
                .item-body {
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    .name {
                        font-weight: bold;
                    }
                    .id {
                        margin-top: 0.5rem;
                    }
                    .view-info {
                        background-color: $success;
                        color: white;
                        padding: 0.5em 1em;
                        padding-top: 0.75em;
                        margin-top: 0.5rem;
                        font-size: 0.8rem;
                        border-radius: 0.25rem;
                        cursor: pointer;
                    }
                }
            }
        }
        .groups {
            .item {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                gap: 1rem;
                transition: all 1s ease;
                .item-header {
                    img {
                        width: 5rem;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                        border-radius: 100rem;
                        border: 3px dashed $error;
                        padding: 0.25em;
                    }
                }
                .item-body {
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    .name {
                        font-weight: bold;
                    }
                    .id {
                        margin-top: 0.5rem;
                    }
                    .view-info {
                        background-color: $success;
                        color: white;
                        padding: 0.5em 1em;
                        padding-top: 0.75em;
                        margin-top: 0.5rem;
                        font-size: 0.8rem;
                        border-radius: 0.25rem;
                        cursor: pointer;
                    }
                    .bio {
                        direction: rtl;
                        font-size: 0.75rem;
                        opacity: 0.75;
                        // padding: 1em 0 ;
                        line-height: 1.5;
                        margin: 0.5rem 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
        .channels {
            .item {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                gap: 1rem;
                transition: all 1s ease;
                .item-header {
                    img {
                        width: 5rem;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                        border-radius: 100rem;
                        border: 3px dashed $error;
                        padding: 0.25em;
                    }
                }
                .item-body {
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    .name {
                        font-weight: bold;
                    }
                    .id {
                        margin-top: 0.5rem;
                    }
                    .members {
                        margin-top: 0.5rem;
                        direction: rtl;
                    }
                    .view-info {
                        background-color: $success;
                        color: white;
                        padding: 0.5em 1em;
                        padding-top: 0.75em;
                        margin-top: 0.5rem;
                        font-size: 0.8rem;
                        border-radius: 0.25rem;
                        cursor: pointer;
                    }
                    .bio {
                        direction: rtl;
                        font-size: 0.75rem;
                        opacity: 0.75;
                        // padding: 1em 0 ;
                        line-height: 1.5;
                        margin: 0.5rem 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
        .hash-tag {
            .item {
                background-color: $primary;
                color: white;
                padding: 0;
                text-align: center;
                padding: 0.5em;
                border-radius: 0.25rem;
                cursor: pointer;
            }
        }
    }
    .contacts-tab {
        padding: 2em;
        display: flex;
        flex-direction: column;
        align-items: end;
        .search-box {
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5em 1em;
            gap: 0.5rem;
            border-radius: 100rem;
            input {
                all: unset;
            }
        }
        .categories {
        }
        .search-categories {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            margin-top: 2rem;

            .item {
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 7ch;
                padding: 0.75em 1em;
                background-color: white;
                border-radius: 0.25rem;
                font-size: 0.9rem;
                transition: all 1s ease;
                cursor: pointer;
                &:hover {
                    background-color: $color-1;
                    color: white;
                }
            }

            .true {
                background-color: $color-1;
                color: white;
            }
        }

        .search-results {
            display: grid;
            grid-template-columns:repeat(auto-fill , minmax(12rem,1fr));
            gap: 1rem;
            margin-top: 2rem;
            .item {
                border-radius: 0.5rem;
                overflow: hidden;
                background-color: white;
                .item-header {
                    position: relative;
                    img {
                        width: 100%;
                        aspect-ratio: 16/12;
                        object-fit: cover;
                    }
                    .name {
                        position: absolute;
                        bottom: 0;
                        background-color: white;
                        color: $primary-color-2;
                        padding: 0.5em 1em;
                        right: 0;
                        border-radius: 0.75rem 0 0 0;
                        font-weight: bold;
                        font-size: 0.9rem;
                    }
                }
                .item-body {
                    display: flex;
                    flex-direction: column;
                    align-items: end;
                    text-align: right;
                    padding:1.25em 1em;
                    gap: 0.5rem;
                    .property {
                        display: grid;
                        grid-template-columns: 1fr max-content;
                        gap: 0.5rem;
                        font-size: 0.8rem;
                        align-items: center;
                        svg {
                            font-size: 1rem;
                        }
                        span {
                        }
                        p{
                            direction: rtl;
                        }
                    }
                    .id {
                        span{
                            direction: ltr;
                        }
                    }
                    .bio {
                        font-size: 0.75rem;
                        line-height: 1.5;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2; 
                        -webkit-box-orient: vertical;
                        opacity: 0.8;
                    }
                }
                .item-buttons {
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    border-bottom: 4px solid $primary-color-2;
                    padding: 0 1em;
                    padding-bottom: 1em;
                    gap: 0.5rem;
                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.25rem;
                        font-size: 0.9rem;
                        cursor: pointer;
                        svg {
                            font-size: 1.25rem;
                        }
                    }
                    .success {
                        background-color: $success;
                        color: white;
                        padding: 0.6em 1em;
                        border-radius : 100rem;
                        svg {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
}

.fade-out {
    animation: fadeOut 1s ease forwards;
}

.fade-in {
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        scale: 0.9;
        height: max-content;
    }
    to {
        opacity: 1;
        scale: 1;
        pointer-events: all;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        scale: 1;
    }
    to {
        scale: 0.9;
        height: max-content;
        opacity: 0;
        position: absolute;
        pointer-events: none;
    }
}
