@font-face {
    font-family: "iran-sans";
    src: url("../../font/iran-sans-2.ttf");
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    &::after,
    &::before {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
    }
}

img {
    display: flex;
}

html {
    font-family: iran-sans;
}

.App {
    min-height: 100vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1;
}


input {
    direction: rtl;
}

button {
    all: unset;
}


.swiper {
    min-width: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
    overflow: hidden !important;
    height: max-content !important;
}